<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 >Home Page</h1>

    <h1 th:text="${name}">name</h1>

    <h1>Length of the name is : <span th:text="${#strings.length(name)}">name</span></h1>

    <h1>Current Date : <span th:text="${currentDate}">time</span> </h1>

    <h1 th:text="'my name is '+${name}+' and its length is '+${#strings.length(name)} "></h1>
    
</body>
</html>